@import "tailwindcss";

/* ===== Tailwind v4 Theme Customization ===== */
@theme {
  --color-primary: #855B31;
  --color-secondary: #f1dec9;
  --color-error: #c85a54;
  --color-bg: #faf4ef;
  --font-body: "Quicksand", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap");




html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg);
  font-family: var(--font-body);
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
}

/* Versteckt Scrollbalken in modernen Browsern */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE und Edge */
  scrollbar-width: none;    /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;            /* Chrome, Safari */
}

.react-datepicker__header {
  background-color: #faf4ef !important;
}

.react-datepicker {
  font-size: 16px !important;
}

.todo-list {
  padding-top: 12px;
  padding-bottom: 24px;
}

.content-container {
  height: calc(100vh - 80px);
}

.delete-button {
  border-radius: 0 16px 16px 0;
}

.text-shadow-white {
  text-shadow: 0px 0px 4px rgba(133, 91, 49, 1);
}





header {
  /* background-color: transparent; */
  background: #855B31;
/* background: linear-gradient(180deg, rgba(133, 91, 49, 1) 80%, rgba(179, 140, 97, 1) 97%, rgba(241, 222, 201, 1) 100%) */
}


/* 

.waves {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
} */


.waves {
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 80px;
  pointer-events: none; 
}

.parallax > use {
  animation: move-forever 20s linear infinite;
  will-change: transform;
}
.parallax > use:nth-child(1) {
  animation-delay: 0s;
}
.parallax > use:nth-child(2) {
  animation-delay: -4s;
}
.parallax > use:nth-child(3) {
  animation-delay: -8s;
}

@keyframes move-forever {
  0% {
    transform: translateX(-90px);
  }
  100% {
    transform: translateX(85px);
  }
}




